.App {
    font-family: sans-serif;
    text-align: center;
  }
  body {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
  }
  form input {
    margin: 10px;
    margin-top: 30px;
  }
  form input,
  form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
  }
  form button {
    color: #ff6f47;
  
    background: #f7fffe;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  form button:hover {
    background: #ff6f47;
    color: white;
  }
  .list-group-item:hover {
    background: #ff6f47;
    color: white;
  }
  
  .todoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: black;
  }
  .todolist {
    min-width: 30%;
    list-style: none;
  }
  .btn {
    background: #ff6f47;
    margin-left: 8px;
  }
  .button {
    color: #ff6f47;
  
    background: #f7fffe;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  button:hover {
    background: #ff6f47;
    color: white;
  }
  .list-group-item {
    min-width: 30%;
    list-style: none;
  }
  .quote {
    margin-top: 100px;
  }
  .home {
    color: #ff6f47;
    margin-top: 10px;
  
    background: #f7fffe;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  home:hover {
    background: #ff6f47;
    color: white;
  }
  